
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #f6f5f5;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Style the navigation bar */
nav {
    background-color: rgb(238, 238, 234);
    padding: 10px 0;
    border: 1px solid grey;

}

a {
    line-height: 18px;
    font-weight: 100;
    font-size: 500px;
}

/* Flexbox for horizontal layout */
.nav-menu {
    display: flex;
    justify-content: left; 
    gap: 20px; /* Adds spacing between items */
    padding: 0;
}

/* Style the menu items */
.nav-menu li {
    display: inline;
    
}

.environment-btn {
    font-size: 50px;
    margin: 30px;
}

/* Style the links */
.nav-menu a {
    text-decoration: none;
    color: grey;
    font-size: 14px;
    padding: 10px 15px;
    transition: background 0.3s ease;
    font-weight: 200;
}

/* Hover effect */
.nav-menu a.active,
.nav-menu a:hover {
    color: rgb(40, 73, 171);
    border-bottom: 3px solid;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.environment-switch{
    border-right: 1px solid;
}
.card-columns {
    display: inline-block;
    margin: 30px;

    @media (min-width: 992px) and (max-width: 1199.98px) {
        .card-columns {
            column-count: 2;
        }
    }

    @media (min-width: 1200px) {
        .card-columns {
            column-count: 1;
        }
    }
}


.blue-header {
    background-color: rgb(27, 52, 125);
    color: #ffffff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blue-header .title {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    padding-left: 150px;
    flex: 1;
    letter-spacing: 1px;
}

.blue-header .buttons {
    display: flex;
    gap: 10px;
}

.blue-header button {
    background-color:white;
    color: rgb(27, 52, 125);
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.blue-header button:hover {
    background-color: grey;
}

.app-logo {
    width: 150px;
    height: 20px;
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}






