/* General Styles for Light Mode (Default) */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    /* justify-content: space-between;
    align-items: center; */
    background-color: red;
    color: white;
    padding: 10px 20px;
    height: 60px;
    z-index: 1001;
  }
  
  #hamburger-menu {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    position: relative;
    z-index: 1002;
  }

  .header-title {
    font-size: 24px;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    width: 50%
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 60px;
  }
  
  .sidebar.hidden {
    transform: translateX(-100%);
  }
  
  .sidebar:not(.hidden) {
    transform: translateX(0);
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #444;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: white;
  }
  
  .sidebar ul li a:hover {
    background-color: #444;
  }
  main {
    margin: 40px;
  }
  /* Section Headings */
  h1, h2, h3, h4, h5, h6 {
    color: black; /* Default color for headings */
  }
  
  /* Links */
  a {
    color: #0073e6;
    text-decoration: none;
  }

  /* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: white; /* Global text color for dark mode */
  }
  
  header.dark-mode {
    background-color: #333;
    color: white;
  }
  
  .sidebar.dark-mode {
    background-color: #444;
    color: white;
  }
  
  .sidebar.dark-mode ul li a {
    color: white; /* Ensure sidebar links remain visible in dark mode */
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: inherit; /* Inherit color from body for consistency */
  }
  
  a.dark-mode {
    color: #4dabf7; /* Change link color for better contrast in dark mode */
  }

  #switch-environment-container {
    float: right;
  }

  #switch-environment {
    padding: 10px 20px;
    justify-content: space-between;
    align-items: right;
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 0px;
  }
  #logout-btn {
    float: right;
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  #logout-btn:hover {
    background-color: grey;
  }

  #switch-environment:hover {
    background-color: grey;
  }